body{
	background-color: #CEC5AD;
}

h1{
	color:#392818;
	font-size: 70px;
	text-align: center;
	text-decoration:underline;
}

h2{
	color:#392818;
	text-align: center;
}

p{
	color:#392818;
}

div{
	color:#392818;
}